* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #444040;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 133px);
  grid-template-rows: repeat(3, 133px);
  background-color: beige;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black;
}

.box {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 10px;
  font-family: cursive;
  color: black;
  
  
}
.box:hover{
  transform: scale(1.1);
   transition: all ease-in-out .5s;
}
.box:active{
  transform: scale(0.85);
    background-color: #444040;
}
